.channel-card {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 7px 7px 10px rgba(255, 255, 255, 0.2),
    4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 80%;
  padding: 1rem;
  min-height: 150px;
  transition: 0.3s;
}

.channel-card:hover {
  transform: rotate3d(8, -6, 0, 25deg);
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  border-right: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 14px 14px 16px rgba(255, 255, 255, 0.5),
    8px 8px 20px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.channel-card.active {
  background-color: rgba(75, 192, 192, 0.5);
}

.channel-card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
